*{
  padding: 0;
  margin: 0%;
  box-sizing: border-box;
  
 
}

body{
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-family: 'DM Sans', sans-serif;
  
}



/*------------------------*/

.navbar{
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 13px 0;
  border-bottom: 1px solid grey;
}

.navbar a{
 margin: 0 30px;
}

.menu-items{
  word-spacing: 50px;
  margin: auto;
  
  
}

.menu-items a{
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 20px;
  text-align: center;
}

.menu-items a:hover{
  color: rgb(173, 173, 173);
}

.searchbox{
  margin: 0 30px;
}

#search-box {
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
}

#search-box #search-text{
  background: none;
  border: none;
  outline: none;
  background-color: none;
  font-size: 18px;
  width: 0;
  padding: 0;
  transition: all 0.5s;
  
}

#search-box:hover #search-text, #search-box #search-text:valid{
  width: 300px;
  padding: 10px 15px;
}

#search-box #search-btn{
  background-color: white;
  border: none;
  padding: 10px 10px;
  border-radius: 50%;
  
}

#search-box #search-btn i{
 
  padding: 5px 5px;
}

  

  /*---------------------------------*/

  .slider{
    overflow:  hidden;
  }
  
  .slider figure{
    position: relative;
    width: 500%;
    animation: 12s slider infinite;
  }
  
  .slider figure img{
    width: 20%;
    float: left;
  }
  
  
  @keyframes slider{
    0%{
      left: 0;
    }
    25%{
      left: 0;
    }
    30%{
      left: -100%;
    }
    50%{
      left: -100%;
    }
    55%{
      left: -200%;
    }
    75%{
      left: -200%;
    }
    80%{
      left: -300%;
    }
    100%{
      left: -300%;
    }
  
  }
  .hover-button{
    width: 100%;
    height: auto;
    position: absolute;
    justify-content: center;
    text-align: center;
    z-index: 1;
    transform: translate(-50%, -50%);
    top: 70%;
    left: 50%;
  }

.hover-button > a {
  display: inline-block;
  border-radius: 4px;
  background-color: #ffffff;
  color: #000000;
  text-align: center;
  font-size: 28px;
  padding: 20px 50px;
  height: auto;
  transition: all 0.5s;
  cursor: pointer;
  border: none;
  
}

.hover-button > a span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.hover-button > a span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.hover-button > a:hover span {
  padding-right: 25px;
}

.hover-button > a:hover span:after {
  opacity: 1;
  right: 0;
}





/*---------------------------------*/

.info{
 
  width: 100%;
  margin: auto;
  height: auto;
  display: flex;
  justify-content: space-between;
  position: relative;
  border-top: 1px solid grey;
}

.info .contact{
  width: 33.33%;
 
}

.info .contact ul{
  list-style-type: none;
  margin: 100px 100px;
  text-align: center;
  
}

.info .contact ul li a{
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 19px;
  font-weight:lighter;
}

.info .services{
  width: 33.33%;
  
}

.info .services ul{
  list-style-type: none;
  margin: 100px 100px;
  text-align: center;
}

.info .services ul li a{
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 19px;
  font-weight:lighter;
}

.info .follow-us{
  width: 33.33%;
  
}

.info .follow-us ul{
  list-style-type: none;
  margin: 100px 150px;
  text-align: center;
}

.info .follow-us ul li{
  display: inline;
}

.info .follow-us ul li a{
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 19px;
  font-weight:lighter;
  padding: 5px;
 
}
.info .follow-us ul li a:hover{
  color: gray;
}

.info .services ul li a:hover{
  color: gray;
}

.info .contact ul li a:hover{
  color: gray;
}

/*------------------------------------*/
.container1{
  width: 100%;
  height: auto;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
}

.container1 .rule{
  
  padding: 30px 50px;
  margin: 10px 0;
  
}

.container1 .rule a{
  padding: 0 10px;
  font-size: 20px;
  text-decoration: none;
  color: black;
  
}

.container1 .language{
  padding: 30px 80px;
  margin: 10px 0;
  
}

.container1 .language a{
  text-decoration: none;
  color: black;
}

.container1 .rule a:hover{
  color: grey;
}

.copyright{
  width: 100%;
  height: auto;
  margin: auto;
  text-align: center;
  padding: 30px 0px;
}

